.huvud-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: aqua;
}

body{
  background-color: aqua;
}
.huvud-lista h2 {
  margin-top: 0;
}

.första-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: aquamarine;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-container input[type="text"] {
  flex: 1;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

.input-container button {
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.uppdrag-lista {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Thetodo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.Thetodo-item:last-child {
  border-bottom: none;
}

.Thetodo-item span {
  flex: 1;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}

.delete-button {
  border-radius: 5px;
  border: none;
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
